<div class="heading flex">
    <h1><span>#<%= @article.id%>&nbsp;</span><%= @article.title %></h1>
    <%= button_to "Back", articles_path, method: :get %>
</div>

<div>
    <em>Written by <%= @article.name %></em>
    <p><%= @article.body %></p>
</div>
