<%= form_with data: { turbo: false }, class: "form", model: @article do |form| %>

    <div class="info">
        <div>
            <%= form.text_field :title, placeholder: "Title" %>
        </div>

        <div>
            <%= form.text_field :name, placeholder: "Author" %>
        </div>

        <div>
            <%= form.text_area :body, placeholder: "Content" %>
        </div>

        <div>
            <%= form.submit%>
        </div>
    </div>

    <div class="error">
        <% if @article.errors.any? %>
            <h2>Errors</h2>
            <ul>
                <% @article.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
    <div>

<% end %>