<%= form_with data: { turbo: false }, model: @article do |form| %>

    <div>
        <%= form.label :title %><br/>
        <%= form.text_field :title%>
    </div>

    <div>
        <%= form.label :name %><br/>
        <%= form.text_field :name%>
    </div>

    <div>
        <%= form.label :body %><br/>
        <%= form.text_area :body%>
    </div>

    <div>
        <%= form.submit %>
    </div>

    <% if @article.errors.any? %>
        <hr/>
        <div>
            <h2>Errors</h2>
            <ul>
                <% @article.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

<% end %>