<h1>Blog Articles </h1>
<%= button_to "Create Article", new_article_path, method: :get %>
<hr/>

<% if @articles.length == 0 %>
    <p>
        <em>No articles found.</em>
    </p>
<% end %>

<ul>
    <% @articles.each do |article| %>
        <article>
            <h2><%= article.title %></h2>
            <em>Written by <%= article.name %></em>
            <p><%= article.body %></p>
            <%= button_to "Inspect", article_path(article), method: :get %>
            <%= button_to "Edit", edit_article_path(article), method: :get %>
            <%= button_to "Delete", article_path(article), method: :delete %>
            <hr/>
        </article>
    <% end %>
</ul>